body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f5;
}

header {
  width: 100vw;
  background: #282c34;
  height: 75px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.header-title { 
  font-size: 1.5rem;
  width: 75vw;
}

.tracker-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  margin: 0 auto;
}

.tracker-punchclock {
  flex: 1 1 0;
}

.create-activity, .running-activities {
  margin: auto;
}
.create-activity h3 {
  margin: 0 0 5px 0;
}
  .input-group {
    display: flex;
    flex-direction: column;
  }
    .input-group label {
      font-weight: bold;
      font-size: 1rem;
    }
    .input-group input[type="text"] {
      font-size: 1.2rem;
      padding: 5px 10px;
      border: none;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
              0 3px 1px -2px rgba(0,0,0,.2), 
              0 1px 5px 0 rgba(0,0,0,.12);
      height: 35px;
      outline: none;
    }

  button.add-activity {
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    border: 1px solid #009ada;
    border-radius: 5px;
    background: #009ada;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
              0 3px 1px -2px rgba(0,0,0,.2), 
              0 1px 5px 0 rgba(0,0,0,.12);
  }
  button.add-activity:hover {
    background: #008ac4;
  }

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  grid-gap: 5px;
}
.activity-card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
              0 3px 1px -2px rgba(0,0,0,.2), 
              0 1px 5px 0 rgba(0,0,0,.12);
  padding: 15px;
  background: #fff;
}
  .activity-card .description {
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 2px;
  }
  .activity-card .duration {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  .activity-card .actions button.end-timer {
    background: #c93e3e ;
    border-radius: 5px;
    border: solid 1px #c93e3e ;
    outline: none;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    margin-right: 5px;
  }
  .activity-card .actions button.end-timer:hover {
    background: #b43737;
  }

.tracker-activity-spreadsheet {
  flex: 1 1 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 
              0 3px 1px -2px rgba(0,0,0,.2), 
              0 1px 5px 0 rgba(0,0,0,.12);
  background: #fff;
  padding: 15px;
  margin-bottom: 25px;
  min-height: 200px;
}
.spreadsheet-title {
  margin: 0;
}
.spreadsheet-header {
  font-weight: 500;
}
.spreadsheet-row {
  border-bottom: 1px solid rgba(0,0,0,.12);
  display: grid;
  grid-template-columns: 35% 22.5% 22.5% 20%;
  align-items: center;
}
.spreadsheet-cell {
  display: table-cell;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  padding: 0 20px;
  flex: 1 1;
}

.tracker-activity-table {
  border: solid 1px #282c34;
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  margin: 0 auto;
}
  .tracker-activity-table caption {
    text-align: left;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .tracker-activity-table thead {
    background: #ccc;
    border-bottom: solid 2px #282c34;
  }
  .tracker-activity-table td, .tracker-activity-table th {
    padding: 10px 15px;
  }


.Stopwatch {
  display: inline;
}